<div id='header'>
  <h1>My Artists</h1>
</div>

<div id='artists'>
  <% if @artists.count > 0  %>
    <% @artists.each do |artist| %>
      <p><%= artist.username %></p>
      <p><%= button_to "#{artist.username}'s Portfolio Page", user_artist_path(current_user.id, artist.id), method: :get %></p>
    <% end %>
    <%= button_to 'Add Artist', new_user_artist_path(current_user.id), method: :get %>
  <% else %>
    <p>You haven't added any Artists to your account yet.</p>
      <%= button_to 'Add Artist', new_user_artist_path(current_user.id), method: :get %>
  <% end %>
</div>
