<div id="header">
  <h1>Tikiarté</h1>
</div>

<div id="welcome-message">
  <h3>Welcome to Tikiarté!</h3>
</div>

<div id="button">
  <%= button_to 'Sign in with Google', '/auth/google_oauth2', method: :get %>
</div>
